<body class="no-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/">Didricksen <span>Construction</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu current">
								<a href="/#projects">Projects</a>
								<ul>
									<li><a href="/projects/ace">Ace Hardware</a></li>
									<li><a href="#">Small Bathroom</a></li>
									<li><a href="/projects/pizzahouse">Pizza House</a></li>
									<li><a href="/projects/kitchen">Kitchen</a></li>
								</ul>
							</li>
						<li><a href="/#cta" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-home"></span>
					<h2>Small <strong>Bathroom</strong></h2>
					<p>Vashon Island</p>
				</header>

				<!-- One -->
					<section class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<div class="image featured"><%= image_tag "projects/bathroom.jpg" %></div>
									<header>
										<h3>Small Bathroom Remodel</h3>
									</header>
									<!-- <p>This is a small bathroom but it comfortably fit two sinks and a large walk-in double headed shower.</p> -->
								</section>
							</div>

					</section>

				<!-- Two -->
					<section class="wrapper style4 container">
						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/bathroom.jpg"), image_path("projects/bathroom.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/bathroom02.jpg"), image_path("projects/bathroom02.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/bathroom03.jpg"), image_path("projects/bathroom03.jpg"), :class => "image" %>
								</div>
							</div>
						</div>
					</section>

			</article>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><%= image_tag "logo.svg" %></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Didricksen Construction</li><li><a href="mailto:didricksenconst@gmail.com">didricksenconst@gmail.com</a></li>
				</ul>

			</footer>

	</div>
</body>