<body class="no-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/">Didricksen <span>Construction</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu current">
								<a href="/#projects">Projects</a>
								<ul>
									<li><a href="/homes">Homes</a></li>
									<li><a href="/remodels">Remodels</a></li>
									<li><a href="#">Commercial</a></li>
									<li><a href="/custom">Custom Projects</a></li>
								</ul>
							</li>
						<li><a href="/#cta" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-home"></span>
					<h2><strong>Commercial</strong> Projects</h2>
					<p>There is no project too big. We recently finished work on the Vashon ACE Hardware, Thriftway, and Pharmacy.</p>
				</header>

				<!-- One -->
					<section class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<div class="image featured"><%= image_tag "projects/ace08.jpg" %></div>
									<header>
										<h2>Ace Hardware</h2>
									</header>
									<p>This commercial project was undertaken to move the entryway of ACE Hardware to a more open and central location.</p>
								</section>
							</div>
						<header>
							<h4>During Construction</h4>
						</header>
						<div class="row album">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace01.jpg"), image_path("projects/ace01.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace02.jpg"), image_path("projects/ace02.jpg"), :class => "image" %>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace03.jpg"), image_path("projects/ace03.jpg"), :class => "image" %>
								</div>							
							</div>
						</div>
						<br>
						<header>
							<h4>After Construction</h4>
						</header>
						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace04.jpg"), image_path("projects/ace04.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace06.jpg"), image_path("projects/ace06.jpg"), :class => "image" %>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace07.jpg"), image_path("projects/ace07.jpg"), :class => "image" %>
								</div>							
							</div>
						</div>
						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace.jpg"), image_path("projects/ace.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/ace09.jpg"), image_path("projects/ace09.jpg"), :class => "image" %>
								</div>							
							</div>
						</div>

					</section>

					<section class="wrapper style4 container">
						<!-- Content -->
						<div class="content">
							<section>
								<div class="image featured"><%= image_tag "projects/pharmacy.jpg" %></div>
								<header>
									<h2>Vashon Pharmacy</h2>
								</header>
								<p></p>
							</section>
						</div>
					</section>

					<section class="wrapper style4 container">
						<!-- Content -->
						<div class="content">
							<section>
								<div class="image featured"><%= image_tag "projects/store01.jpg" %></div>
								<header>
									<h2>Vashon Thriftway</h2>
								</header>
								<p></p>
							</section>
						</div>
					</section>

			</article>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><%= image_tag "logo.svg" %></li>
				</ul>

				<header>
					<h2><strong>Duane Didricksen</strong></h2>
				</header>
				<h4>License <strong>#DUANEDC949RE</strong></h4>
				<br>
				<ul class="copyright">
					<li>&copy; Didricksen Construction</li><li><a href="mailto:didricksenconst@gmail.com">didricksenconst@gmail.com</a></li>
				</ul>

			</footer>

	</div>
</body>