<body class="no-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/">Didricksen <span>Construction</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu current">
								<a href="/#projects">Projects</a>
								<ul>
									<li><a href="/homes">Homes</a></li>
									<li><a href="/remodels">Remodels</a></li>
									<li><a href="/commercial">Commercial</a></li>
									<li><a href="#">Custom Projects</a></li>
								</ul>
							</li>
						<li><a href="/#cta" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-home"></span>
					<h2><strong>Custom</strong> Projects</h2>
					<p>There is no project too small. We love the unique and custom.</p>
				</header>

				<!-- One -->
					<section id="pizza" class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<div class="image featured"><%= image_tag "projects/pizzahouse01.jpg" %></div>
									<header>
										<h3>Summer House & Stone Pizza Oven</h3>
									</header>
									<p>A custom built brick summer house with a fir wood interior and travertine floors. The summer house is accompanied by a beautiful custom built stone pizza oven with a brick exterior, granite countertops, and copper doors.</p>
								</section>
							</div>

						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/pizzahouse08.jpg"), image_path("projects/pizzahouse08.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/pizzahouse07.jpg"), image_path("projects/pizzahouse07.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/pizzahouse03.jpg"), image_path("projects/pizzahouse03.jpg"), :class => "image" %>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/pizzahouse02.jpg"), image_path("projects/pizzahouse02.jpg"), :class => "image" %>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/pizzahouse04.jpg"), image_path("projects/pizzahouse04.jpg"), :class => "image" %>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/pizzahouse05.jpg"), image_path("projects/pizzahouse05.jpg"), :class => "image" %>
								</div>							
							</div>
						</div>

					</section>

			</article>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><%= image_tag "logo.svg" %></li>
				</ul>

				<header>
					<h2 class="m-B-n"><strong>Duane Didricksen</strong></h2>
					<h3>Contractor</h3>
				</header>
				<h4>License <strong>#DUANEDC949RE</strong></h4>
				<br>
				<ul class="copyright">
					<li>&copy; Didricksen Construction</li><li><a href="mailto:didricksenconst@gmail.com">didricksenconst@gmail.com</a></li>
				</ul>

			</footer>

	</div>
</body>
<script src="/assets/javascripts/jquery.poptrox.min.js"></script>
