<body class="index">
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="#banner" class="scrolly">Didricksen <span>Construction</span></a></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="#banner" class="scrolly">Home</a></li>
						<li class="submenu">
							<a href="#projects" class="scrolly">Projects</a>
							<ul>
								<li><a href="/projects/ace">Ace Hardware</a></li>
								<li><a href="/projects/bathroom">Small Bathroom</a></li>
								<li><a href="/projects/pizzahouse">Pizza House</a></li>
								<li><a href="/projects/kitchen">Kitchen</a></li>
							</ul>
						</li>
						<li><a href="#cta" class="button special scrolly">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">

				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">

					<header>
						<h2>Didricksen Construction</h2>
					</header>
					<p>Serving <strong>Vashon</strong> since <strong>1988</strong></p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Learn More</a></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-home"></span>
					<h2>We have been building <strong>custom homes</strong><br />on <strong>Vashon Island</strong>
					
					for nearly <strong>30 years</strong>.</h2>
				</header>

				<!-- One -->
					<section class="wrapper style2 container special-alt">
						<div class="row 50%">
							<div class="8u 12u(narrower)">

								<header>
									<h2><strong>Duane Didricksen,</strong> Builder</h2>
									<h2><strong>206.391.2586</strong></h2>
								</header>
								
									<ul class="buttons">
										<li><a href="mailto:didricksenconst@gmail.com" title="Email" class="button">didricksenconst@gmail.com</a></li>
									</ul>
					
								<h4>License <strong>#DUANEDC949RE</strong></h4>

							</div>
							<div class="4u 12u(narrower) important(narrower)">

								<ul class="featured-icons">
									<li><span class="icon fa-home"><span class="label">Feature 1</span></span></li>
									<li><span class="icon fa-building"><span class="label">Feature 2</span></span></li>
									<li><span class="icon fa-wrench"><span class="label">Feature 3</span></span></li>
									<li><span class="icon fa-cog"><span class="label">Feature 4</span></span></li>
									<li><span class="icon fa-truck"><span class="label">Feature 5</span></span></li>
									<li><span class="icon fa-thumbs-up"><span class="label">Feature 6</span></span></li>
								</ul>

							</div>
						</div>
					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Custom Homes</h3>
									</header>
									<p>Personalizing a home to your tastes is our specialty. We know what it takes to make a house feel like home.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Home Remodels</h3>
									</header>
									<p>Need to update your kitchen or bathroom? We can fix up any room in your house to be more functional and beautiful than you imagined.</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Commercial Projects</h3>
									</header>
									<p>We also tackle commercial projects. Recently finishing work on the local Vashon ACE Hardware and Thriftway.</p>
								</section>

							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="projects" class="wrapper style3 container special">

						<header class="major">
							<h2>Some things we have <strong>built</strong></h2>
						</header>

						<div class="row">
							<div class="6u 12u(narrower)">

								<section>
									<a href="projects/ace" class="image featured"><%= image_tag "projects/ace.jpg" %></a>
									<header>
										<h3>Ace Hardware</h3>
									</header>
									<p>Remodeled the entrance of ACE Hardware.</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section>
									<a href="projects/bathroom" class="image featured"><%= image_tag "projects/bathroom.jpg" %></a>
									<header>
										<h3>Small Bathroom</h3>
									</header>
									<p>Remodeled a small bathroom</p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u 12u(narrower)">

								<section>
									<a href="projects/pizzahouse" class="image featured"><%= image_tag "pic02.jpg" %></a>
									<header>
										<h3>Pizza Oven & Summer House</h3>
									</header>
									<p>Custom built stone pizza oven.</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section>
									<a href="projects/kitchen" class="image featured"><%= image_tag "pic01.jpg" %></a>
									<header>
										<h3>Kitchen Remodel</h3>
									</header>
									<p>Beautiful Kitchen & Family room remodel.</p>
								</section>

							</div>
						</div>

<!-- 						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer> -->

					</section>

			</article>

		<!-- CTA -->
			<section id="cta">

				<header>
					<h2>Contact Us <strong>Today</strong>!</h2>
					<p>We will be happy to discuss your next project.</p>
					<h2>Call: <strong>206.391.2586</strong></h2>
				</header>
				<footer>
					<ul class="buttons">
<!-- 				<li><a href="#" class="button special">Call: 206.391.2586</a></li> -->
						<li><a href="mailto:didricksenconst@gmail.com" class="button">Email Us</a></li>
						<h4>didricksenconst@gmail.com</h4>
					</ul>
				</footer>

			</section>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><%= image_tag "logo.svg" %></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Didricksen Construction</li><li><a href="mailto:didricksenconst@gmail.com">didricksenconst@gmail.com</a></li>
				</ul>

			</footer>

	</div>