<body class="no-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/">Didricksen <span>Construction</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu current">
								<a href="/#projects">Projects</a>
								<ul>
									<li><a href="/projects/ace">Ace Hardware</a></li>
									<li><a href="/projects/bathroom">Small Bathroom</a></li>
									<li><a href="#">Pizza House</a></li>
									<li><a href="/projects/kitchen">Kitchen</a></li>
								</ul>
							</li>
						<li><a href="/#cta" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-home"></span>
					<h2>Pizza Oven & <strong>Summer House</strong></h2>
					<p>Magnolia, Seattle</p>
				</header>

				<!-- One -->
					<section class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<div class="image featured"><%= image_tag "pic02.jpg" %></div>
									<header>
										<h3>Custom Stone Pizza Oven & Summer House</h3>
									</header>
									<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum massa. Morbi eu faucibus massa. Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
								</section>
							</div>

					</section>

				<!-- Two -->
					<section class="wrapper style4 container">
						<header>
							<h3>Pizza Oven</h3>
						</header>
						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<a href="/assets/projects/pizzaoven.jpg" class="image"><%= image_tag "pic02.jpg" %></a>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<a href="/assets/projects/pizzaoven.jpg" class="image"><%= image_tag "pic02.jpg" %></a>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<a href="/assets/projects/pizzaoven.jpg" class="image"><%= image_tag "pic02.jpg" %></a>
								</div>
							</div>
						</div>
					</section>
					<section class="wrapper style4 container">
						<header>
							<h3>Summer House</h3>
						</header>
						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<a href="/assets/projects/summerhouse.jpg" class="image"><%= image_tag "pic03.jpg" %></a>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<a href="/assets/projects/summerhouse.jpg" class="image"><%= image_tag "pic03.jpg" %></a>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<a href="/assets/projects/summerhouse.jpg" class="image"><%= image_tag "pic03.jpg" %></a>
								</div>							
							</div>
						</div>
					</section>

			</article>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><%= image_tag "logo.svg" %></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Didricksen Construction</li><li><a href="mailto:didricksenconst@gmail.com">didricksenconst@gmail.com</a></li>
				</ul>

			</footer>

	</div>
</body>
<script src="/assets/javascripts/jquery.poptrox.min.js"></script>
