<body class="no-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="/">Didricksen <span>Construction</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu current">
								<a href="/#projects">Projects</a>
								<ul>
									<li><a href="/homes">Homes</a></li>
									<li><a href="#">Remodels</a></li>
									<li><a href="/commercial">Commercial</a></li>
									<li><a href="/custom">Custom Projects</a></li>
								</ul>
							</li>
						<li><a href="/#cta" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-home"></span>
					<h2><strong>Remodels</strong></h2>
					<p>Need to update your kitchen or bathroom? We can fix up any room in your house to be more functional and beautiful than you imagined.</p>
				</header>

				<!-- One -->
					<section id="kitchen" class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<div class="image featured"><%= image_tag "projects/kitchen01.jpg" %></div>
									<header>
										<h3>Beatiful Kitchen & Family Room Remodel </h3>
									</header>
									<p>A modern and classy kitchen remodel. This open design features a large island made of custom walnut woodwork and a large limestone countertop. The large farmhouse sink acts as a centerpiece while the fridge blends in with the cabinetry. The kitchen flows into the family room where the style is kept consistent with white crown molding and dark walnut accents.</p>
								</section>
							</div>

						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/kitchen01.jpg"), image_path("projects/kitchen01.jpg"), :class => "image" %>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/kitchen02.jpg"), image_path("projects/kitchen02.jpg"), :class => "image" %>
								</div>							
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/kitchen03.jpg"), image_path("projects/kitchen03.jpg"), :class => "image" %>
								</div>							
							</div>
						</div>

					</section>

					<section id="bathroom" class="wrapper style4 container">

						<!-- Content -->
							<div class="content">
								<section>
									<div class="image featured"><%= image_tag "projects/bathroom.jpg" %></div>
									<header>
										<h3>Small Bathroom Remodel</h3>
									</header>
									<p>A small bathroom that comfortably fits two sinks and a large walk-in shower.</p>
								</section>
							</div>

						<div class="row">
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/bathroom.jpg"), image_path("projects/bathroom.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/bathroom02.jpg"), image_path("projects/bathroom02.jpg"), :class => "image" %>
								</div>
							</div>
							<div class="4u 12u(narrower)">
								<div class="image fit thumb">
									<%= link_to image_tag("projects/bathroom03.jpg"), image_path("projects/bathroom03.jpg"), :class => "image" %>
								</div>
							</div>
						</div>

					</section>

			</article>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><%= image_tag "logo.svg" %></li>
				</ul>

				<header>
					<h2 class="m-B-n"><strong>Duane Didricksen</strong></h2>
					<h3>Contractor</h3>
				</header>
				<h4>License <strong>#DUANEDC949RE</strong></h4>
				<br>
				<ul class="copyright">
					<li>&copy; Didricksen Construction</li><li><a href="mailto:didricksenconst@gmail.com">didricksenconst@gmail.com</a></li>
				</ul>

			</footer>

	</div>
</body>